
.cards{
    float: left;
    width: 20%;   
    margin: 30px;
}

.card:hover{
   box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
   transform: scale(1.05,1.05);
}
.card{
    margin: 15px;
}
.card-img{
    height: 235px;
   width: 100%;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}
.card-body{
    background-color: lightgray;
    border-radius: 10px;

}
.card-text{
   margin: 10px;
    color: rgb(78, 74, 74);
    
}
.card-title{
   margin: 10px;
}
.button:hover {
    background-color:#fff;
    color: gray;
    font-size: 16px;
    padding: 5px 8px;
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    outline: none;
    border: 1px solid black;
    cursor: text;

  }
  .button{
      padding: 10px;
      margin: 10px;
      background-color: darkgray;
  }